## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
nose = 12
print(nose)

12

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(nose))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nom = "CJavierArzolay"

5) Crear una variable que contenga un número complejo

In [5]:
com = 12j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
print(type(com))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
import math
pie = round(math.pi,4)
print(pie)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
ftru = "True"
rtru = True
print(ftru == rtru) # Como se podra observar la respuesta es no, no son lo mismo

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(ftru),type(rtru))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
ent = 69 + 45.23
print(ent)

114.22999999999999

11) Realizar una operación de suma de números complejos

In [11]:
print(45j + 34j)

79j

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
print(34j + 23)

(23+34j)

13) Realizar una operación de multiplicación

In [13]:
print(4*6)

24

14) Mostrar el resultado de elevar 2 a la octava potencia

In [14]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [15]:
coci = 27/4
print(coci)

6.75

16) De la división anterior solamente mostrar la parte entera

In [16]:
coci2 = coci // 1
print(coci2)

6.0

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
coci3 = 27 % 4
print(coci3)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [18]:
print(4 * coci2 + coci3)

27.0

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [19]:
al = "Hola "
mundo ="pha"
print(al + mundo)

Hola pha

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
print("2" == 2) # Pasa porque uno es string y otro es integer lo cual ambos no son iguales

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
print(int("2") == 2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [22]:
#Eso arroja error porque un float consiste en un numero y un punto y otro numero pero alli ese string tiene una coma la cual no sirve

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [23]:
valto = 3
valto -= 1
print(valto)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [24]:
print(1 << 2) #Da asi porque estamos indicando que el uno se le agrege dos ceros (100) y despues lo traduzca a binario, el sistema de numeracion binario es un sistema en el cual cada cifra va incrementando la potencia de 2 el numero indica si se muestra o no y al final se suma todo eso

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [25]:
print(2 + "2") # Se genera error porque no se puede sumar dos tipos de datos distintos ya que el programa no sabe si debe sumarle el dos al texto o al numero ni que debe convertirlo al final, y la segunda pregunta;: no siempre, ya que si se suma numeros se hace operacion matematica y si se suma texto se hace una operacion literal (sumas dos o agregas al lado un dos al dos)

<class 'TypeError'>: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [26]:
print("2" * 2)

22